<footer class="footer">
    <p class="footer__copyright">枫叶的自留地 build by Ghost. 当前主题(vno)请访问<a href="https://github.com/onevcat/vno">vno</a> github仓库 </p>
    <p class="footer__ServerInfo"> 备案信息 <a href="http://www.miitbeian.gov.cn/">京ICP备16006754号</a> &copy; 2016  All rights reserved</p>
</footer>
