<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/519678447/" title="@wackosix的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/wackosix" title="@wackosix的Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Jianshu -->
  <li class="navigation__item">
    <a href="http://www.jianshu.com/users/7b33a23272c4/latest_articles" title="@wackosix的简书" target="_blank">
      <i class='social fa fa-book'></i>
      <span class="label">Jianshu</span>
    </a>
  </li>
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:mail@wakcosix.cn" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>


  <!-- Twitter 
  <li class="navigation__item">
    <a href="http://twitter.com/wackosix" title="@wackosix" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  -->
  
  <!-- RSS 
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>
  -->
  </ul>
</nav>